<div class="main col-md-8 main_content">
  <h2> Client : </h2>

  <h2 class="client_name"> <%= @client.name() %></h2>

  </br>

  <h2> Stylist : </h2>
  <% if @client.stylist() != nil %>

    <h2 class="client_name"> <%= @client.stylist() %> </h2>

  <% else %>
  </br>
  <form action="/client_add_stylist" method="post">
    <label for="stylist_id"><h3> Add to a Stylist </h3></label>
    <select id='stylist_id' name='stylist_id' type='text'>
      <% Stylist.all().each() do |stylist| %>
      <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
      <% end %>
    </select>
    <input type="hidden" name ="client_id" value="<%= @id %>">
    <button class="btn btn-success" type="submit">Add to Stylist</button>
  </form>
  <% end %>


</div>


<div class="col-md-4 sidebar">


  <form action="/client/<%= @id %>/edit" method="post">
    <input name="_method" type="hidden" value="patch">
    <label for="name"><h3> Update Client's Name </h3></label>
    <input class ="form-control"  id="name" name="name" type="text">

    <button class="btn btn-success" type="submit">Edit Client</button>
  </form>

  <h3> Delete Client </h3>
  <form action="/client/<%= @id %>/delete" method="post">
    <input name="_method" type="hidden" value="delete">
    <button class="btn btn-danger" type="submit">Delete Client</button>
  </form>



</div>
