<div class="main col-md-8 main_content">

  <h2> <%= @stylist.name() %>'s Client List </h2>

  <% if @clients.any?() %>
    <ul>
      <% @clients.each() do |client| %>
        <li><a class ="btn btn-block btn-lg btn-info" href="/client/<%= client.id() %>"><%= client.name() %></a></li>
      <% end %>
    </ul>

  <% else %>

    <h3> No clients yet. </h3>

  <% end %>
</div>


<div class="col-md-4 sidebar">

  <form action="/add_client" method="post">
    <label for="name"><h3> Add New Client </h3></label>
    <input class ="form-control"  id="name" name="name" type="text">

    <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @id %>">

    <button class="btn btn-success" type="submit">Add Client</button>
  </form>

  <% if @all_clients.any?() %>
    <form action="/add_old_client" method="post">
    <label for="name"><h3> Add Existing Client </h3></label>

    <label for="client_id">Select a Client</label>
    <select id='client_id' name='client_id' type='text'>
      <% @all_clients.each() do |client| %>
      <option value="<%= client.id()%>"> <%= client.name() %> </option>
      <% end %>
    </select>
    <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @id %>">
    <button class="btn btn-success" type="submit">Add Client</button>
  </form>
  <% end %>

  <form action="/stylist/<%= @id %>/edit" method="post">
    <input name="_method" type="hidden" value="patch">
    <label for="name"><h3> Update Stylist's Name </h3></label>
    <input class ="form-control"  id="name" name="name" type="text">

    <button class="btn btn-success" type="submit">Edit Stylist</button>
  </form>

  <h3> Delete Stylist </h3>
  <form action="/stylist/<%= @id %>/delete" method="post">
    <input name="_method" type="hidden" value="delete">
    <button class="btn btn-danger" type="submit">Delete Stylist</button>
  </form>



</div>
